.ContributionCalendar-label li {
  border-radius: 4px;
  padding: 0.125em 0.5em 0.125em 0;;
}

/* Reverting the colors of GitHub contribution graph */

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: grid;
  grid-template-areas:
    'empty months'
    'days squares';
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
.graph.ContributionCalendar-label{
  
  overflow-x: auto;
  white-space: nowrap; /* Prevent line breaks within the container */
}

/* Optionally, you can also style the scrollbar to make it more visible */
.graph.ContributionCalendar-label::-webkit-scrollbar {
  width: 50px;
}


.graph.ContributionCalendar-label::-webkit-scrollbar-thumb {
  background-color: #4db5ff;
  border-radius: 10px;
}

.months {
  display: grid;
  grid-template-columns:
    calc(var(--week-width) * 4) /* Jan */
    calc(var(--week-width) * 4) /* Feb */
    calc(var(--week-width) * 4) /* Mar */
    calc(var(--week-width) * 5) /* Apr */
    calc(var(--week-width) * 4) /* May */
    calc(var(--week-width) * 4) /* Jun */
    calc(var(--week-width) * 5) /* Jul */
    calc(var(--week-width) * 4) /* Aug */
    calc(var(--week-width) * 4) /* Sep */
    calc(var(--week-width) * 5) /* Oct */
    calc(var(--week-width) * 4) /* Nov */
    calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

/* Other styling */
ul {
  list-style-type: none;
}
.graph {
  padding: 20px;
  
  border-radius: 10px;
  
  margin: 20px;
  
}
.mp {
  display: grid;
  grid-template-areas:
    'empty months'
    'days squares';
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}


